table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

tbody, th, td {
    border : 1px solid black;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    
   
}

#tipoDato {
    text-align: center;
    height: 15px;
    background-color: #b4ccda;
}
input, select {
    width: 97%;
}